<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <% if Gem.loaded_specs.key?('webpacker') %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% else %>
    <% if ActiveRecord.version.release() >= Gem::Version.new('6.0.0') %>
      <%= stylesheet_link_tag    "application6", media: "all", "data-turbolinks-track": 'reload' %>
    <% else %>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": 'reload' %>
    <% end %>
    <% if ActiveRecord.version.release() < Gem::Version.new('5.2.0') %>
      <%= javascript_include_tag "application", "data-turbolinks-track": 'reload' %>
    <% else %>
      <%= javascript_include_tag "application_52", "data-turbolinks-track": 'reload' %>
    <% end %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
